<hr />
<div id="equipment_assets">
  <div class="contextual">
    <%#= toggle_link l(:button_add), 'new-equipment-relation-form', {:focus => 'equipment_asset_id'} %>
  </div>
  <p><strong><%=l :equipment_assets %></strong></p>
  <form>
    <table class="list">
<% @equipment_assets.each do |eq_asset| %>
<tr class="issue" id="equipment-asset-<%= eq_asset.id %>">
<td class="subject"><%= link_to_equipment_asset(eq_asset) %> <% unless eq_asset.asset_type.blank? %>(<%=h eq_asset.asset_type %>)<% end %></td>
<td class="status"><%=h eq_asset.location %></td>
<td class="start_date"><%l :last_checked_in_by, { :name => eq_asset.last_checkin_by, :date => format_date(eq_asset.last_checkin_on) } %></td>
<td class="buttons"><%#= link_to_remote(image_tag('link_break.png'), { :url => {:controller => 'equipment_assets`', :action => 'delete_issue', :id => eq_asset, :issue_id => @issue},
                                                  :method => :delete,
                                                  :confirm => l(:text_are_you_sure)
                                                }, :title => l(:label_equipment_asset_issue_delete)) if authorize_for('equipment_assets', 'delete_issue') %></td>
</tr>
<% end %>
</table>
</form>

<%# remote_form_for(:relation, @relation,
                 :url => {:controller => 'issue_relations', :action => 'create', :issue_id => @issue},
                 :method => :post,
                 :complete => "Form.Element.focus('relation_issue_to_id');",
                 :html => {:id => 'new-relation-form', :style => (@relation ? '' : 'display: none;')}) do |f| %>
<%#= render :partial => 'issue_relations/form', :locals => {:f => f}%>
<%# end %>
</div>
