<%= form_for(@equipment_asset) do |f| %>
  <%= error_messages_for 'equipment_asset' %>
  <div class="pluginESV_formfield">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="pluginESV_formfield">
    <%= f.label :asset_type %><br />
    <%= f.text_field :asset_type %>
  </div>
  <div class="pluginESV_formfield">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="pluginESV_formfield">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :size => "30x5" %>
  </div>
  <div>
    <%= f.label :resource_url %><br />
    <%= f.text_field :resource_url %>
    <p>(optional URL that links to further resources such as a manual or notes)</p>
  </div>
  <div class="pluginESV_formfield">
    <%= f.label :oos, 'Out of service' %><br />
    <%= f.check_box :oos %>
  </div>
  <div class="pluginESV_formactions">
    <%= f.submit "Submit" %>
    <%= link_to "Cancel", equipment_assets_path %>
  </div>
<% end %>
