<% html_title t(:equipment_assets) %>
<% content_for :page_id, "listEquipmentAssets" %>
<% content_for :page_url, equipment_assets_path %>

<% content_for :page_header do %>
  <h1><%= t(:equipment_assets) %></h1>
  <%= jqm_button t(:new), new_equipment_asset_path, { :icon => "plus", :pos => "r" } %>
  <style type="text/css">
    .oos { color: red; }
  </style>
<% end %>

<ul data-role="listview" data-filter="true">
  <%-
    group = nil
    @equipment_assets.each_with_index do |e,index|
      if new_asset_group?(e, group)
        group = asset_group(e)
        -%>
        <li data-role="list-divider"><%= asset_type_or_none(group) %></li>
      <% end %>
      <li><a href="<%= equipment_asset_path(e) %>">
        <h3 class="ui-li-heading"><%= e.name %></h3>
        <p class="ui-li-desc"><%= e.location %></p>
        <% if e.oos? %>
          <span class="ui-li-aside oos"><%=t :out_of_service %></span>
        <% end %>
      </a></li>
    <% end %>
</ul>
